@model IEnumerable<MagicVilla_Web.Models.Dto.VillaNumberDTO>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa Number List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="VillaNumber" asp-action="CreateVillaNumber" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Villa</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Villa No</th>
                <th>Special Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.VillaNo</td>
                    <td>@item.SpecialDetails</td>
                    <td>
                        <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-villaId="@item.VillaNo" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-villaId="@item.VillaNo" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>